@model Decko.Models.Login.ForgotPassViewModel
<!-- BEGIN Forgot Password Form -->
@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @id = "form-forgot", @class = "hide" }))
{
    <h3>Get back your password</h3>
    <hr>
    <div class="form-group">
        <div class="controls">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary form-control">Recover</button>
        </div>
    </div>
    <hr>
    <p class="clearfix">
        <a href="#" class="goto-login pull-left">← Back to login form</a>
    </p>
}
<!-- END Forgot Password Form -->